
.full-width {
    width: 100%;
}

.medium-width {
    width: 50%;
}

.quarter-width {
    display: inline-block;
    width: 25%;
    margin: 0em 1em;
}

mat-card {
    margin: 2em;
}

mat-card-title {
    background-color: aqua;
}

mat-card-footer {
    background-color: lightgray;
}