<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Resistor calculator
  </h1>
</div>

<mat-card>

  <form [formGroup]="dataForm" (ngSubmit)="calcular()">

    <div formArrayName="availableResistors">
      <h3>Resistors available</h3> <button type="button" (click)="addResistor()">Add resistor</button>
      <div>
        <label class="quarter-width" for="value{{i}}">Resistor:</label>
        <label class="quarter-width" for="quantity{{i}}">Quantity:</label>
      </div>

      <div *ngFor="let resistencia of dataForm.controls.availableResistors.controls; let i=index">
        <!-- The repeated alias template -->
        <div [formGroupName]="i">
          <div>
            <mat-form-field class="quarter-width">
              <input matInput placeholder="Value R{{i}}" type="number" id="value{{i}}" formControlName="value">
            </mat-form-field>
            <mat-form-field class="quarter-width">
              <input matInput placeholder="Quantity R{{i}}" type="number" id="quantity{{i}}" formControlName="quantity">
            </mat-form-field>
          </div>
        </div>
      </div>

    </div>

    <div>
      <mat-form-field class="medium-width">
        <input matInput type="number" placeholder="Desired value" id="requiredValue" formControlName="requiredValue">
      </mat-form-field>
    </div>


    <mat-card-actions>
      <button mat-button type="submit" [disabled]="!dataForm.valid">Calcular</button>
    </mat-card-actions>

  </form>

</mat-card>

<mat-card *ngIf="progress !== null">

  <mat-card-content>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-content>

</mat-card>

<mat-card *ngIf="notFound !== null">

  <div *ngIf="notFound">
    <mat-card-header>
      <mat-card-title>No result found.</mat-card-title>
    </mat-card-header>
  </div>
  <div *ngIf="!notFound">

    <mat-card-header>
      <mat-card-title>Result found!</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div *ngFor="let entry of result">

        <p>{{entry[0]}}: {{entry[1]}}</p>

      </div>

    </mat-card-content>

  </div>

</mat-card>