<div fxLayout="column">

  <h1>
    Resistor calculator
  </h1>

  <form [formGroup]="dataForm" (ngSubmit)="calcular()">

    <div formArrayName="availableResistors">

      <mat-grid-tile-header>
        <h3>Resistors available</h3>
      </mat-grid-tile-header>

      <button type="button" (click)="addResistor()">Add resistor</button>
      <div>
        <label class="medium-width" for="value">Resistor:</label>
        <label class="medium-width" for="quantity">Quantity:</label>
      </div>

      <div *ngFor="let resistencia of resistencias.controls; let i=index">
        <!-- The repeated alias template -->
        <div [formGroupName]="i">
          <div>
            <mat-form-field class="medium-width">
              <input matInput placeholder="Value R{{i}}" type="number" id="value{{i}}" formControlName="value">
            </mat-form-field>
            <mat-form-field class="medium-width">
              <input matInput placeholder="Quantity R{{i}}" type="number" id="quantity{{i}}" formControlName="quantity">
            </mat-form-field>
          </div>
        </div>
      </div>

    </div>

    <div>
      <mat-form-field class="medium-width">
        <input matInput type="number" placeholder="Desired value" id="requiredValue" formControlName="requiredValue">
      </mat-form-field>
    </div>

    <div>
      <mat-radio-group formControlName="findBest">
        <mat-radio-button value="1">Find best combination</mat-radio-button>
        <mat-radio-button value="0">Find first combination</mat-radio-button>
      </mat-radio-group>
    </div>


    <mat-grid-tile-footer>
      <button mat-button type="submit" [disabled]="!dataForm.valid">Calcular</button>
      Number of combinations {{combinations | number}}
    </mat-grid-tile-footer>


  </form>


  <mat-grid-list cols="2">

    <mat-grid-tile *ngIf="progress !== null">

      <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>


    </mat-grid-tile>
    <mat-grid-tile *ngIf="notFound !== null">


      <div *ngIf="notFound">
        <mat-grid-tile-header>
          No result found.
        </mat-grid-tile-header>
      </div>
      <div *ngIf="!notFound">

        <mat-grid-tile-header>Result found!</mat-grid-tile-header>

        <div *ngFor="let entry of result">

          <p>{{entry[0]}}: {{entry[1]}}</p>

        </div>

        <mat-grid-tile-footer>
          <p>Total {{total}}</p>
        </mat-grid-tile-footer>

      </div>

    </mat-grid-tile>
  </mat-grid-list>

</div>